/* Стили для основного интерфейса */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}

/*button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
 */
button {
    background-color: #007BFF; 
    color: white;
    border: none;
    padding: 12px 24px;
    margin: 10px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}


button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

/* Основной стиль для кнопки */
.return-button {
    background-color: #FF5722; /* Оранжевый цвет */
    color: white;
    border: none;
    padding: 12px 24px;
    margin: 10px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease; /* Плавная анимация */
}

/* Анимация при наведении */
.return-button:hover {
    background-color: #FF3D00;
    transform: scale(1.1); /* Кнопка немного увеличивается */
}

/* Анимация при нажатии */
.return-button:active {
    transform: scale(0.9);
}



.helper img {
    width: 300px;
    margin-bottom: 70px;
}

.guide-image {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    border: 2px solid #007BFF;
}

.highlight:hover {
    background-color: rgba(0, 0, 255, 0.2);
}

/*.dialog-box {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: white;
    border: 2px solid #007BFF;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}*/
.dialog-box {
    position: fixed;
    bottom: 300px;
    left: 20%;
    right: 20%;
    background: white;
    border: 2px solid #007BFF;
    padding: 20px; /* Увеличены отступы */
    border-radius: 15px; /* Более сильное скругление углов */
    width: 600px; /* Добавлена фиксированная ширина */
    height: 150px; /* Добавлена фиксированная высота */
    display: flex;
    align-items: center;
}


.cat-helper {
    width: 170px;
    margin-right: 70px;
}

.completion-message {
    text-align: center;
}

.cat-helper-center {
    width: 300px;
    margin-bottom: 70px;
}